<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>HOME</title>
</head>

<body>
    <header>
        <h1>HOME</h1>
    </header>
    <main>
        <section>
            <ul class="product-list">
                <li class="product-item">
                    <strong><a href="">Listado de usuarios</a></strong>
                </li>
                <li class="product-item">
                    <strong><a href="">Listado de notificaciones</a></strong>
                </li>
                <li class="product-item">
                    <strong><a href="/reserves">Listado de reservas</a></strong>
                </li>
                <li class="product-item">
                    <strong><a href="/recursos">Lista de recursos</a></strong>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>