<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detall de la Notificaci贸</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <header> 
        <h1>Gesti贸 de les Notificacions per <%= user.name %>!</h1>
        <h2><a href="/notifications">Volver a la lista de notificaciones</a></h2>
    </header>
    <main>
        <section>
            <h2>Detall de la Notificaci贸</h2>
            <ul class="product-list">
                <li class="product-item">
                    <strong>
                        <%= notification.title %>
                    </strong>
                    <span>Descripci贸: <%= notification.description %></span>
                    <span>Data: <%= notification.date %></span>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>