<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto en progreso</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Reservas per <%= user.name %>!</h1> 
    </header>
    <main>
        <section>
            <h2>Llista de Reservas</h2>
            <ul class="product-list">
                <li class="product-item">
                    <strong>
                        <%= reserva.name %>
                    </strong>
                    <span>nombre: <%= reserva.Estat %></span>
                    <span>nombre: <%= reserva.Temps %></span>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>